@import "global";

$include-html-type-classes: $include-html-classes !default;

// Text alignment class names
$align-class-names:
  small-only,
  small,
  medium-only,
  medium,
  large-only,
  large,
  xlarge-only,
  xlarge,
  xxlarge-only,
  xxlarge;

// Text alignment breakpoints
$align-class-breakpoints:
  $small-only,
  $small-up,
  $medium-only,
  $medium-up,
  $large-only,
  $large-up,
  $xlarge-only,
  $xlarge-up,
  $xxlarge-only,
  $xxlarge-up;

// Generates text align and justify classes
@mixin align-classes{
  .text-left    { text-align: left !important; }
  .text-right   { text-align: right !important; }
  .text-center  { text-align: center !important; }
  .text-justify { text-align: justify !important; }

  @for $i from 1 through length($align-class-names) {
    @media #{(nth($align-class-breakpoints, $i))} {
      .#{(nth($align-class-names, $i))}-text-left { text-align: left !important; }
      .#{(nth($align-class-names, $i))}-text-right   { text-align: right !important; }
      .#{(nth($align-class-names, $i))}-text-center  { text-align: center !important; }
      .#{(nth($align-class-names, $i))}-text-justify { text-align: justify !important; }
    }
  }
}

//
// Typography Placeholders
//

@mixin subheader {
  line-height: $subheader-line-height;
  color: $subheader-font-color;
  font-weight: $subheader-font-weight;
  margin-top: $subheader-top-margin;
  margin-bottom: $subheader-bottom-margin;
}
@include exports("type") {
  @if $include-html-type-classes {
    // Responsive Text alignment
    @include align-classes;

    /* Typography resets */
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    form,
    p,
    blockquote,
    th,
    td {
      margin:0;
      padding:0;
    }

    /* Default Link Styles */
    a {
      color: $anchor-font-color;
      text-decoration: $anchor-text-decoration;
      line-height: inherit;

      &:hover,
      &:focus {
        color: $anchor-font-color-hover;
        @if $anchor-text-decoration-hover != $anchor-text-decoration {
          text-decoration: $anchor-text-decoration-hover;
        }
      }
      img { border:none; }
    }

    /* Default paragraph styles */
    p {
      font-family: $paragraph-font-family;
      font-weight: $paragraph-font-weight;
      font-size: $paragraph-font-size;
      line-height: $paragraph-line-height;
      margin-bottom: $paragraph-margin-bottom;
      text-rendering: $paragraph-text-rendering;

      & aside {
        font-size: $paragraph-aside-font-size;
        line-height: $paragraph-aside-line-height;
        font-style: $paragraph-aside-font-style;
      }
    }

    /* Default header styles */
    h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
      color: $header-font-color;
      text-rendering: $header-text-rendering;
      margin-top: $header-top-margin;
      margin-bottom: $header-bottom-margin;
      line-height: $header-line-height;

      small {
        font-size: $small-font-size;
        color: $small-font-color;
        line-height: 0;
      }
    }


    .subheader { @include subheader; }

    hr {
      border: $hr-border-style $hr-border-color;
      border-width: $hr-border-width 0 0;
      clear: both;
      margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
      height: 0;
    }

    /* Helpful Typography Defaults */
    em,
    i {
      font-style: italic;
      line-height: inherit;
    }

    strong,
    b {
      font-weight: $font-weight-bold;
      line-height: inherit;
    }

    small {
      font-size: $small-font-size;
      line-height: inherit;
    }


    /* Lists */
    ul,
    ol,
    dl {
      font-size: $list-font-size;
      line-height: $list-line-height;
      margin-bottom: $list-margin-bottom;
      list-style-position: $list-style-position;
      font-family: $list-font-family;
    }

    ul {
      margin-#{$default-float}: $list-side-margin;
      &.no-bullet {
        margin-#{$default-float}: $list-side-margin-no-bullet;
        li {
          ul,
          ol {
            margin-#{$default-float}: $list-nested-margin;
            margin-bottom: 0;
            list-style: none;
          }
        }
      }
    }

    /* Unordered Lists */
    ul {
      li {
        ul,
        ol {
          margin-#{$default-float}: $list-nested-margin;
          margin-bottom: 0;
        }
      }
      &.square,
      &.circle,
      &.disc {
        li ul { list-style: inherit; }
      }

      &.square { list-style-type: square; margin-#{$default-float}: $list-side-margin;}
      &.circle { list-style-type: circle; margin-#{$default-float}: $list-side-margin;}
      &.disc { list-style-type: disc; margin-#{$default-float}: $list-side-margin;}
      &.no-bullet { list-style: none; }
    }

    /* Ordered Lists */
    ol {
      margin-#{$default-float}: $list-ordered-side-margin;
      li {
        ul,
        ol {
          margin-#{$default-float}: $list-nested-margin;
          margin-bottom: 0;
        }
      }
    }

    /* Definition Lists */
    dl {
      dt {
        margin-bottom: $definition-list-header-margin-bottom;
        font-weight: $definition-list-header-weight;
      }
      dd { margin-bottom: $definition-list-margin-bottom; }
    }

    }
  }